BOT_TOKEN=
ANIMETHEMES_BASE_URL=https://api.animethemes.moe
ANIMETHEMES_REQUEST_TIMEOUT=25
RADIO_ANIMES_CHANNEL_CHAT=@RadioAnimes
RADIO_ANIMES_CHANNEL_URL=https://t.me/RadioAnimes
CHANNEL_MEMBERSHIP_TTL_SECONDS=300
